.order-page.after-sale-detail {
  .order-detail-top {
    padding-left: 5.3333vw;
    height: 24vw;
    color: #fff;
    background: url("../imgs/order/icon_waiting@2x.png") no-repeat;
    background-color: @red;
    background-size: 13.3333vw;
    background-position: 81.8667vw 5.6vw;
    .flex-box();
    align-items: center;
    .label {
      font-size: 4vw;
    }
    .time {
      font-size: 3.2vw
    }
  }
  .describe {
    height: 34.6667vw;
    background: #fff;
    padding-top: 5.3333vw;
    padding-left: 5.3333vw;
    .u-block:first-child {
      p {
        font-size: 4vw;
      }
      span {
        display: block;
        padding-top: 2.9333vw;
        font-size: 3.4667vw;
        color: #999;
      }
    }
    .btn-wrapper {
      .flex-box();
      justify-content: flex-end;
      .edit-btn {
        margin-right: 2.6667vw;
        .flex-box();
        align-items: center;
        padding: 0 2.9333vw;
        height: 6.4vw;
        font-size: 3.2vw;
        color: @red;
        border: @1px solid #D3D3D3;
        border-radius: 3.2vw;
      }
    }
  }
  .return-detail {
    margin: 1.3333vw 0;
    background: #fff;
    .item-title {
      position: relative;
      .flex-box();
      align-items: center;
      padding-left: 2.6667vw;
      height: 10.6667vw;
      font-size: 4vw;
      .line-bottom();
    }
    .details-info {
      padding: 2.9333vw 0 3.4667vw 2.4vw;
      font-size: 3.2vw;
      line-height: 5.3333vw;
      color: #999;
    }
  }
  .service-btn {
    .flex-box();
    justify-content: center;
    align-items: center;
    height: 13.6vw;
    font-size: 4vw;
    background: #fff;
  }
}