@blue: #01adef;
@light-blue: #5bccf6;
@light-grey: #e9e9e9;
@disabled: #b2b2b2;

@c1: #c1c1c1;
@f8: #f8f8f8;
@grey:#b2b2b2;
@333:#333;
@e9:#e9e9e9;
@b2:#b2b2b2;
@7d:#7d7d7d;
@bordercolor:#51b2cc;
@btncolor:#5bccf6;
@btnhover:#3a7e98;
@radius:0;

@orange: #f46f2d;
@dft:#e94045;
@base:#e94045;