<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="utf-8">
	<title>地址管理</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=contain">
	<meta name="format-detection" content="telephone=no, email=no">
	<!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' http://192.168.212.47:8180; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; media-src * ;img-src *">-->
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<script>
		var initConfig = {};
	</script>
</head>

<body>
	<div id="page" class="address-page" v-cloak>
		<div class="content-wrapper">
			<!-- topbar -->
			<div class="fixed-bar header-toolbar">
				<div class="tool-left tool-col">
					<a href="javascript:history.back(-1)" class="back-btn"><i class="icon iconfont icon-left"></i></a>
				</div>
				<div class="page-title tool-col">
					<span>地址管理</span>
				</div>
			</div>
			<!-- topbar end-->

			<div class="views">
				<div class="container">
					<!-- container -->
					<div class="scrollable">
						<van-list v-model="loading" :offset="10" :error.sync="error" error-text="请求失败，点击重新加载" :finished="finished" @load="getAddressList">
							<div class="address-list">
								<div class="item" v-for="item in address">
									<div class="adress-info">
										<div class="user-info">
											<span class="name">{{item.consignee}}</span>
											<span class="phone">{{item.phone}}</span>
											<span class="default-address" v-show="item.default">默认</span>
										</div>
										<div class="address-wrapper">
											<span class="address">{{item.areaName + item.address}}</span>
										</div>
									</div>
									<div class="handles">
										<a @click="$url('address_edit.html?id='+item.id)" class="edit-btn">编辑</a>
									</div>
								</div>
							</div>
						</van-list>

						<div class="no-msg-wrapper" v-show="!loading && !address.length">
							<img src="imgs/common/icon_no_map.png" alt="">
							<p class="tips">还没有收货地址哦</p>
						</div>

					</div>
					<!-- container end -->
				</div>
			</div>
			<div class="fixed-bar address-toolbar">
				<a @click="$url('address_edit.html')" class="new-address-btn">新建收货地址</a>
			</div>
		</div>
	</div>

	<script src="libs/require-2.3.3min.js" data-main="js/address/require.config"></script>
</body>

</html>