<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="utf-8">
	<title>我的推广</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=contain">
	<meta name="format-detection" content="telephone=no, email=no">
	<!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' http://192.168.212.47:8180; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; media-src * ;img-src *">-->
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<script>
		var initConfig = {};
	</script>
</head>

<body>
	<div id="page" v-cloak>
		<div class="content-wrapper">
			<!-- topbar -->

			<div class="fixed-bar header-toolbar">
				<div class="tool-left tool-col">
					<a href="javascript:history.back(-1)" class="back-btn"><i class="icon iconfont icon-left"></i></a>
				</div>
				<div class="page-title tool-col">
					<span>我的推广</span>
				</div>
			</div>
			<!-- topbar end-->

			<div class="views">
				<div class="container">
					<!-- container -->
					<div class="invite-list-page height-full">
						<div class="scrollable">
							<div class="invite-list">
								<van-list v-model="loading" :offset="10" :error.sync="error" error-text="请求失败，点击重新加载" :finished="finished"
								 finished-text="没有更多了" @load="getInvite">
									<div class="item" v-for="item in inviteList">
										<div>
											<span class="info">您的好友：{{item.mobile}} {{item.memo}}</span>
											<span class="time">日期：{{dateFormat(item.createdDate,2)}}</span>
										</div>
									</div>
								</van-list>
							</div>

						</div>
					</div>
					<!-- container end -->
				</div>
			</div>


		</div>
	</div>

	<script src="libs/require-2.3.3min.js" data-main="js/invite_list/require.config"></script>
</body>

</html>